<%= simple_form_for user, validate: true, html: { class: "form-horizontal" }  do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>
  <div class="col-sm-6">
    <div class="featured-box featured-box-secundary default info-content">
      <div class="box-content">
        <h4>Register An Account</h4>
        <form action="" id="" method="post">
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <%= f.input :name %>
                <!--input type="text" value="" class="form-control input-lg"-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <%= f.input :email %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <%= f.input :password %>
              </div>
              <div class="col-md-6">
                <%= f.input :password_confirmation, label: t("users.label.confirm_password") %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="controls">
                <%= f.button :submit, :class => 'btn btn-success' %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>