<div id="activation_form">

  <div class="widget">  
    <div class="">
      <h4><%= t("web.label.activated_your_account") %></h4>
    </div>
    <div>
      <h5>
        <%= t("web.label.email_to_login") %>;&nbsp;<%= @user.email %>
      </h5>
    </div>

    <div class="activation_form">
      <%= simple_form_for @user, validate: true, html: { class: "form-horizontal" }  do |f| %>
        <%= f.error_notification %>
        <%= f.error :base, :error_method => :to_sentence, class: "alert alert-danger" %>
        
          <div class="row">
            <div class="col-md-12">
              <div align="center">
                <%= user_avatar %>
              </div>
              <%= f.input :avatar, as: :file, label: t("web.label.change_picture") %>
            </div>
          </div>
          <div class="row">
            <%= f.input :email, as: :hidden %>
          
            <div class="actions">
              <%= f.button :submit, t("users.action.change_password"), class: 'btn btn-success' %>
            </div>
          </div>
        
      <% end %>
    </div>
  </div>
</div>
