<div id="menu-target">
<%= link_to (image_tag "sitescamp_logo_blck.png", class: "img-responsive"), main_app.root_url, class: "navbar-brand" %>
  <ul>
      <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
      <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
      <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
      <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
      <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
  </ul>
  <hr>
  <ul>
      <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
      <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>

      <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
      <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
  </ul>
</div>

<section class="sidebar col-md-3 col-sm-12" style="left: 0px; background-image: url(<%= asset_path("default-sidebar.jpg") %>);">
	<p><%= link_to (image_tag "sitescamp_logo_blck.png", class: "img-responsive"), main_app.root_url, class: "navbar-brand" %></p><br><br>
	    <p><i class="fa fa-home"></i> <%= link_to "Home", main_app.root_url %></a></p>
      <p><i class="fa fa-list"></i> <%= link_to "Feed Sources", feeder.feed_sources_path %></p>
      <p><i class="fa fa-anchor"></i> <%= link_to "user_sources", feeder.feed_sources_path(filter: "user_sources") %></p>
      <p><i class="fa fa-star"></i> <%= link_to t("defaults.link.favorites"), feeder.feeds_path(filter: "like") %></p>
      <p><i class="fa fa-paper-plane"></i> <%= link_to t("defaults.link.read_later"), feeder.feeds_path(filter: "readlater") %></p>
<!-- /assets/default-sidebar.jpg 
  <span class="menu-trigger animated fadeInDown">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </span>-->

  <!-- if the user has javascript disabled they can still use the menu -->
  <noscript>
      <div class="no-js-menu">
          <ul>
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
              <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
              <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
              <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
              <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
              <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
              <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
              <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
          </ul>
      </div>
  </noscript>
  <!-- end no script -->

<!--   <div class="site-info">
  		
      
      <div class="primary-info">
          <h1>Writer</h1>
          <p>A minimal blogging theme to put your content on show. <a href="post.html">Look at the features.</a> </p>

          <p>Content is king</p>
      </div>
      <div class="secondary-info">
          <p>
              <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
          </p>
      </div>
  </div> -->
</section>
<!-- 

<%# if current_user %>
	<div class="side-nav">
		<!-- <div class="nav-content nav-content-header">
			<a href = "#"> <h2>Sitescamp</h2></a>
		</div> -->
		<!-- <div class="nav-content nav-content-main">
			<ul class="nav-default">
				<li>
					<%#= link_to t("defaults.link.favorites"), feeder.feeds_path(filter: "like") %>
				</li>
				<li>
					<%#= link_to t("defaults.link.read_later"), feeder.feeds_path(filter: "readlater") %>
				</li>
				<li>
					<%#= link_to "feed_sources", feeder.feed_sources_path %>
				</li>
				<li>
					<%#= link_to "user_sources", feeder.feed_sources_path(filter: "user_sources") %>
				</li>
			</ul>
		</div>
	</div> -->
<%# end %> -->