<aside class="side-bar">
	<!--form>
		<div class="input-group input-group-lg">
			<input class="form-control" placeholder="Search..." name="s" id="s" type="text">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
			</span>
		</div>
	</form-->
	<h4><%= link_to "Top Rated Sources", feeder.feed_sources_path %></h4>
	<ul class="simple-post-list">
		<% @feed_sources.each do |feed_source| %>
			<li>
				<%= link_to feed_source.url, feeder.feed_source_path(feed_source) %>
			</li>
		<% end %>
	</ul>

<h4><%= link_to "Top Rated Sites", feeder.sites_path %></h4>
	<ul class="simple-post-list">
		<% @sites.each do |site| %>
			<li>
				<%= image_tag("#{site.image_url}", width: "16", height: "16") %>
				<%= link_to site.domain, feeder.site_path(site) %>
			</li>
		<% end %>
	</ul>	

</aside>