<% if current_user %>
	<div class="header-inner">
	  <%= link_to (image_tag "logo.png", class: "img-responsive"), main_app.root_url, class: "navbar-brand" %>

		<div class="hor-menu hidden-sm hidden-xs">
			<ul class="nav navbar-nav">
				<li id="featuresnavigator">
					<%= link_to t("defaults.link.favorites") %>
				</li>
				<li id="pricingnavigator">
					<%= link_to t("defaults.link.read_later"), feeder.userreadlater_feeds_path %>
				</li>
			</ul>
		</div>	
  <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">	
    <%= image_tag("metronic/menu-toggler.png") %>
	  </a> 
	  <ul class="nav navbar-nav pull-right">
	    <li class="dropdown user">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">	
        <%= user_mini_avatar(current_user) %>
	        <span class="username"><%= current_user %></span>
	        <i class="fa fa-angle-down"></i>
	      </a>
	      <ul class="dropdown-menu">
	        <% if current_user.has_role? :admin %>
	          <li><%= link_to nimbos.dashboard_path do %><i class="fa fa-cog"></i> <%= t("simple_form.labels.defaults.dashboard") %><% end %></li>	
        <% end %>
	        <li><%= link_to nimbos.user_path(current_user) do %><i class="fa fa-user"></i> <%= t("users.label.profile") %><% end %></li>	
        <li class="divider"></li>
	        <li><!--%= link_to nimbos.edit_user_path(current_user) do %><i class="fa fa-cog"></i> <%#= t("users.label.settings") %><%# end %></li-->	
        <li>
	          <%= link_to nimbos.logout_path do %>
	            <i class="fa fa-key"></i> <%= t("web.label.logout") %>
	          <% end %>
	        </li>
	      </ul>
	    </li>
	  </ul>
	</div>
<% else %>
	<div class="header-inner container">
	  <%= link_to main_app.root_url, class: "navbar-brand" do %>
		  <%= image_tag("logo.png", class: "img-responsive") %>
		<% end %>
			<ul class="nav navbar-nav pull-right">
			  <li>
					<%= link_to nimbos.login_path, class: "btn blue", style: "color: #fff;" do %>
					  <%= t("web.label.login") %> <i class="fa fa-sign-in fa-white"></i>
					<% end %>
			  </li>
				<li class="dropdown language">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">	
				  <span class="uppercase"><%= current_locale %></span>
					  <i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<% if current_locale.to_s == "en" %>
							  <%= link_to "TR", locale: 'tr' %>						  
							<% else %>
							  <%= link_to "EN", locale: 'en' %>
							<% end %>
						</li>
					</ul>
				</li>
			</ul>
	</div>
<%end%>