<!DOCTYPE html>
<html>
<head>
  <title>Sitescamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		
			<!-- <header id="header" style="padding-bottom: 60px;">
			</header> -->
			<div class="container left-container">
				<%= render "home/left_sidebar" %>
				<section class="col-md-8 col-sm-12 col-md-offset-5 main-content">
					<div class="home-page-posts animated fadeIn ">
						<%= yield %>
					</div>
				</section>
			</div>

		 <!-- <div class="header navbar navbar-inverse navbar-fixed-top">
    	<%#= render "layouts/header" %>
  	</div> -->
</body>
</html>
