<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Sitescamp</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <meta name="MobileOptimized" content="320">
  <%= stylesheet_link_tag    "homepage", :media => "all" %>
  <%= csrf_meta_tags %>

</head>
<body>
  
  <!-- <div class="header navbar navbar-inverse">
    <%#= render "layouts/header" %>
  </div> -->
  <div class="container left-container">
    <%= yield %>
  </div>

<!--[if lte IE 8]>
  <%#= javascript_include_tag "application-ie", debug: Rails.env.development? %>
<![endif]-->
  <%= javascript_include_tag "homepage" %>
  <%= custom_bootstrap_flash %>


</body>
</html>
